footer {
    background-color: rgb(238,234,223);;
    padding: 10px 0 10px 0;
    color: #4f647d;

    .container {
        display: grid;
        padding: 10px;
    }

    a {
        color: #4f647d;
        margin: 10px;

        &:hover {
            color: hsla(0,0%,0%,0.9);
        }
    }

    .copyright {
        text-align: center;
    }
}

@media (max-width: 768px) {

    footer {
        .container {
            display: grid;
            grid-template-columns: 100%;
            max-width: 100%;
            padding: 10px;
        }
    
        .copyright {
            text-align: center;
        }
    }
}