.article-list {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;

    .article-container {
        padding: 10px;
        transition: all 0.5s ease;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }

    .article-box {
        display: inline-block;
        width: auto;
        transition: all 0.25s ease;
        background: rgba(238,234,223, 0.8);
        border-radius: 8px;
        min-width: 25em;
        padding: 0em 3em 2em;
        margin-bottom: 1em;

        &:hover {
            cursor: pointer;
        }

        .right {
            color: #3c4856;

            .title{
                color: rgb(177,186,159);
                font-size: 1.6rem;
            }

            .meta {
                margin-top: -15px;
                margin-bottom: 20px;
                font-size: 1.1rem;
                font-weight: 400;
            }
        }
    }
}

@media (max-width: 768px) {
    .article-list {
        display: grid;
        padding: 0;

        .article-box {
            display: inline-block;
            width: auto;
            transition: all 0.25s ease;
            background: rgba(238,234,223, 0.8);
            border-radius: 8px;
            min-width: 20em;
            padding: 0em 2em 0em;
    
            &:hover {
                cursor: pointer;
            }
    
            .right {
                color: #3c4856;
    
                .title{
                    color: rgb(177,186,159);
                    font-size: 1.1rem;
                }
    
                .meta {
                    margin-top: -15px;
                    margin-bottom: 20px;
                    font-size: 0.7rem;
                    font-weight: 400;
                }
            }
        }
    }
}

@media (min-width: 800px) and (max-width: 1580px) {
    .article-list {
        display: grid;
        padding: 0;

        .article-box {
            display: inline-block;
            width: auto;
            transition: all 0.25s ease;
            background: rgba(238,234,223, 0.8);
            border-radius: 8px;
            min-width: 25em;
            padding: 0em 3em 2em;
    
            &:hover {
                cursor: pointer;
            }
    
            .right {
                color: #3c4856;
    
                .title{
                    color: rgb(177,186,159);
                    font-size: 1.1rem;
                }
    
                .meta {
                    margin-top: -15px;
                    margin-bottom: 20px;
                    font-size: 0.7rem;
                    font-weight: 400;
                }
            }
        }
    }
}