@font-face{
  font-family: "Montserrat-Light";
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face{
  font-family: "Montserrat-Regular";
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

body {
  margin: 0;
  background: #fafbfb;
  font-family: 'Montserrat-Light';
  font-weight: 600
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  font-family: 'Montserrat-Regular';
}

main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px;
}

article {
  height: 90%;

  &:hover {
    box-shadow: 0px 11px 22px 12px #eee;
    border-radius: 5px;
  }
}

img[alt=edicao-video] { 
  width: 100%; 
}

img[alt=consultoria-youtube] { 
  width: 100%; 
}

img[alt=consultoria-instagram] { 
  width: 100%; 
}

.background-header{
  background: rgba(0,0,0,0.4);
  height: 418px;
}

.header-site{
  background: url("../../static/header.jpeg");
  background-repeat: no-repeat;
  height: 420px;
  margin: 0 auto;
  color: #fff;
  display: block;
  align-items: center;
  text-align: center;
  margin-top: -20px;
  h1 {
    padding-top: 5em;
    color: #fff;
  }
  h2 {
    color: #fff;
  }
}

@media (min-width: 400px) and (max-width: 768px) {
  .header-site{
    background: url("../../static/header-mobile.jpeg");
  }
}

@media only screen and (max-width: 768px) {
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}
